name: Test Manifests

on:
  pull_request:
    types:
    - opened
    - reopened
    paths:
    - 'bucket/**'
  push:
    paths:
    - 'bucket/**'
  workflow_dispatch:

jobs:
  test_powershell5:
    name: Test Manifests (Powershell 5)
    runs-on: windows-latest
    steps:
    - name: Checkout Bucket
      uses: actions/checkout@main
      with:
        fetch-depth: 0
        path: 'my_bucket'
    - name: Checkout Scoop
      uses: actions/checkout@main
      with:
        repository: ScoopInstaller/Scoop
        ref: v0.3.0 # Pester 4
        path: 'scoop_core'
    - name: Checkout Scoop Main
      uses: actions/checkout@main
      with:
        repository: ScoopInstaller/Main
        path: 'scoop/buckets/main'
    - name: Cache PS Modules
      uses: potatoqualitee/psmodulecache@v6.2.1
      with:
        modules-to-cache: Pester:4.10.1, PSScriptAnalyzer, BuildHelpers
        shell: powershell
    - name: Cache Helpers
      uses: actions/cache@v4
      with:
        path: scoop_global
        key: ${{ runner.os }}-scoop-global-helpers
    - name: Test Manifests
      shell: powershell
      run: |
        cd .\my_bucket\
        ..\scoop_core\test\bin\test.ps1 -TestPath .
        $result = $LASTEXITCODE
        Write-Host "============ Install Log ============"
        $log = 'Install.log'
        if (Test-Path $log) {
          Get-Content $log -Raw | Write-Host
        }
        if ((Test-Path 'ERROR.log') -and (Get-Content 'ERROR.log')) {
          Add-Content -Path $env:GITHUB_STEP_SUMMARY "# ERROR LOG`r`n"
          Get-Content 'ERROR.log' -Raw | Add-Content -Path $env:GITHUB_STEP_SUMMARY
        }
        exit $result
      env:
        GITHUB_PULL_REQUEST_BASE_SHA: ${{ github.event.pull_request.base.sha }}
        GITHUB_PUSH_EVENT_BEFORE_SHA: ${{ github.event.before }}
        GITHUB_PUSH_EVENT_AFTER_SHA: ${{ github.event.after }}
        SCOOP_HOME: ${{ github.workspace }}\scoop_core
        SCOOP_GLOBAL: ${{ github.workspace }}\scoop_global
        SCOOP: ${{ github.workspace }}\scoop
    - name: Archive Scoop Cache
      if: always() && github.ref == 'refs/heads/master'
      run: |
        pip install internetarchive *> $null
        python .\my_bucket\bin\archive_cache.py
      env:
        PYTHONUNBUFFERED: "1"
        SCOOP: ${{ github.workspace }}\scoop
        IA_ACCESS_KEY_ID: ${{ secrets.IA_ACCESS_KEY_ID }}
        IA_SECRET_ACCESS_KEY: ${{ secrets.IA_SECRET_ACCESS_KEY }}
        ARCHIVE_BUCKET_DIR: ${{ github.workspace }}\my_bucket\bucket
        ARCHIVE_BLACKLIST_MANIFESTS: ${{ vars.ARCHIVE_BLACKLIST_MANIFESTS }}
        ARCHIVE_BLACKLIST_URLS: ${{ vars.ARCHIVE_BLACKLIST_URLS }}
        ARCHIVE_MAX_FILE_SIZE: ${{ vars.ARCHIVE_MAX_FILE_SIZE }}
      continue-on-error: true
